{% comment%}
	Requires the following items
		-product
{% endcomment%}

<a href="{{ product.url}}"  class="featured-products-tile">
	<div class="featured-products-tile__image-wrapper">
		<img class="featured-products-tile__image" src="{{product.featured_image | img_url: 'master'}}"  alt="{{ product.featured_image.alt}}">
	</div>
	<div class="featured-products-tile__info">
		<h3 class="featured-products-tile__title">{{ product.title }}</h3>
		<span class="featured-products-tile__price">{{ product.price | money }}</span>
	</div>

</a>